name: builds

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python: ["3.8", "3.9"]
        framework: [tensorflow, pytorch]
    steps:
      - uses: actions/checkout@v3
      - if: matrix.os == 'macos-latest'
        name: Install MacOS prerequisites
        run: brew install cairo pango gdk-pixbuf libffi
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          architecture: x64
      - if: matrix.framework == 'tensorflow'
        name: Cache python modules (TF)
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pkg-deps-${{ matrix.python }}-${{ hashFiles('pyproject.toml') }}
      - if: matrix.framework == 'pytorch'
        name: Cache python modules (PT)
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pkg-deps-${{ matrix.python }}-${{ hashFiles('pyproject.toml') }}
      - if: matrix.framework == 'tensorflow'
        name: Install package (TF)
        run: |
          python -m pip install --upgrade pip
          pip install -e .[tf] --upgrade
      - if: matrix.framework == 'pytorch'
        name: Install package (PT)
        run: |
          python -m pip install --upgrade pip
          pip install -e .[torch] --upgrade
      - name: Import package
        run: python -c "import doctr; print(doctr.__version__)"

  conda:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.8
      - name: Install dependencies
        shell: bash -el {0}
        run: conda install -y conda-build conda-verify anaconda-client
      - name: Build and publish
        shell: bash -el {0}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          conda verify .conda/meta.yaml
          echo "BUILD_VERSION=0.8.0a0" | cut -c 2- >> $GITHUB_ENV
          python setup.py sdist
          mkdir conda-dist
          conda build .conda/ -c conda-forge -c pypdfium2-team --output-folder conda-dist
          ls -l conda-dist/noarch/*tar.bz2
          anaconda upload conda-dist/noarch/*tar.bz2
