name: pull_requests

on:
  pull_request:
    branches: main

jobs:
  docs-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          architecture: x64
      - name: Cache python modules
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pkg-deps-${{ matrix.python }}-${{ hashFiles('pyproject.toml') }}-docs
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[tf,viz,html] --upgrade
          pip install -e .[docs]

      - name: Build documentation
        run: cd docs && bash build.sh

      - name: Documentation sanity check
        run: test -e docs/build/index.html || exit
